# Configuration Email - Resend
RESEND_API_KEY=your_resend_api_key_here

# Adresses Email
FROM_EMAIL=noreply@yourdomain.com
CONTACT_EMAIL=contact@yourdomain.com

#ReCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Configuration Rate Limiting (optionnel)
RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_MS=60000
